/* div{
    color: red;
} */



.box{
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
}


#box1  {
    background-color:aqua ;

   
}

 #box2{
        background-color: rgb(89, 29, 145,0.5);
    }